@use "./variable.scss";
@forward './variable.scss';
* {
    margin: 0;
    padding: 0;
}



body {
    @include variable.font-regular;
    @include variable.fontProps(16px, 20px, variable.$textColor);
    background-color: variable.$backgroundPrimary;
}

h1 {
    margin: 30px 0;
    padding: 10px 0;
    @include variable.fontProps(52px, 58px);
    &.whiteBanner {
        color: variable.$whiteColor;
    }
}
