// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

$font-family: 'Open Sans', sans-serif;
$backgroundPrimary: #8FC3DC;
$primaryColor: #4a354d;
$fontColor: #333;
$whiteColor: #fff;
$primaryButtonColor: #d96c5d;
$primaryButtonHover: #ed7666;
$primaryColor: #533b7c;
$secondaryColor: #7c589a;
$thirdColor: #9f8cca;
$textColor: #3e394c;
$blueColor: #7e6df3;
$darkPrimaryColor: #ab3cfc;
$baseFontSize: 16px;

@mixin font-thin {
  font-weight: 300;
  font-family: $font-family;
}

@mixin font-regular {
  font-weight: 400;
  font-family: $font-family;
}

@mixin font-bold {
  font-weight: 500;
  font-family: $font-family;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin widthHeight($width: 'inherit',  $height: 'inherit') {
    width: $width;
    height: $height
}

@mixin fontProps($fontSize, $lineHeight, $fontColor: $whiteColor) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $fontColor
}
