@use 'src/assets/scss/index.scss';

.btn-primary {
    background: index.$primaryButtonColor;
    border: none;
    @include index.fontProps(16px, 20px);
    cursor: pointer;
    text-transform: capitalize;
    transition: all linear 0.3s;
    &:hover {
        background: index.$primaryButtonHover;
        transition: all linear 0.3s;        
    }
    &.btn-md {
        @include index.fontProps(16px, 30px);
        padding: 5px 30px;
    }
    &.btn-lg {
        @include index.fontProps(22px, 40px);
        padding: 8px 40px;
        min-width: 270px;
        letter-spacing: 3px;
    }
}

.btn-rounded {
    border-radius: 8px;
}