@import "./../../assets/scss/common.scss";

.gameCardWrapper {
    display: flex;
    flex-wrap: wrap;
	background: black;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	height: auto;
	flex-direction: column;
	.gameSection {
		display: flex;
		flex-wrap: wrap;
		padding: 20px 0;
	}
}
