@use "src/assets/scss/index.scss";

.progressBarWrapper {
    @include index.flexCenter;
    margin: 15px auto;
    width: 40%;
    flex-direction: row;
}

.progressBar {
    width: 100%;
    border: solid 2px black;
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 40px;
    border-radius: 4px;
   .progressInner {
        height: 100%;
        background: black;
        transition: all linear 0.3s;
   }
}