@use 'src/assets/scss/index.scss';

.primaryCard {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    width: 15%;
    border-radius: 10px;
    background: index.$secondaryColor;
    text-align: center;
    .cardTitle {
        @include index.fontProps(20px, 24px, index.$bannerLineColor);
        margin: 15px 0;
    }
    .cardDescription {
        margin: 15px 0;
    }
    &:hover {
        background-color: index.$primaryColor;
        transition: all ease-in-out 0.3s;
    }
}