@import url('./../../assets/scss/common.scss');
.cardItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 15px;
    border: solid 2px #fff;
    border-radius: 4px;
    cursor: pointer;
    color:#fff;
    transition: all ease-in-out 0.3s;
    &:hover {
        background: #ff0000;
        color: #fff;
        transition: all ease-in-out 0.3s;
    }
    .lg-cardTitle {
        font-size: 30px;
        line-height: 20px;
        color: #fff;
    }
}