@use 'src/assets/scss/index.scss';

.primaryCard {
    display: flex;
    flex-direction: column;
    padding: 0.93rem;
    margin: 0.93rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    width: 15%;
    border-radius: 0.62rem;
    background: index.$secondaryColor;
    text-align: center;
    .cardTitle {
        @include index.fontProps(1.25rem, 1.5rem, index.$bannerLineColor);
        margin: 0.93rem 0;
    }
    .cardDescription {
        margin: 0.93rem 0;
    }
    &:hover {
        background-color: index.$primaryColor;
        transition: all ease-in-out 0.3s;
    }
}