@use 'src/assets/scss/index.scss';

.optionsWrapper {
    padding: 0 4px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 15px;
    justify-content: center;
    align-items: center;
    background: white;
}
.radioLabel {
    padding: 12px 20px;
    background: index.$bannerLineColor;
    color: index.$whiteColor;
    margin: 15px 10px 0;
    display: flex;
    border-radius: 5px;
    width: 40%;
    transition: all linear 0.3s;
    cursor: pointer;
    input[type="radio"] {
        display: none;
    }
    &:hover {
        background:index.$secondaryColor;
    }
    &.active {
        background: index.$primaryColor;
    }
}
