@use 'src/assets/scss/index.scss';

.accordionHeader {
    cursor: pointer;
}
.primaryAccordion {
    border-radius: 0.25rem;
    border: solid 0.125rem black;
    margin: 0.62rem 0;
    min-width: 18.75rem;
    padding: 0.62rem;
    .title {
        width: 90%;
        display: inline-flex;
        padding-right: 0.75rem;
    }
    &.activeDeck {
        background: white;
        color: black;
    }
    .cardDescription {
        border-top: solid 0.062rem black;
        margin: 0.93rem 0;
        padding: 0.93rem 0;
    }
    .accordionContent {
        width: 100%;
        text-align: center;
    }
}